body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.mainContent {
  margin-left: 189px;
}
.customFooter {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
